* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
body {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}
p {
    line-height: 20px;
}
.common_layout_style {
    height: calc(100vh - 32px);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 16px;
    background: #ffffff;
}
.common_page_wrapper {
    width: 100%;
    min-height: 100vh;
}
.commnon_modal_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_modal_style {
    overflow: hidden;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.commom_card_style {
    overflow: hidden;
    border-radius: 30px;
    background: #f0f0f0;
}
