@use "variables" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $seventh_gray;

    &:hover {
        background: $eighth_gray;
    }
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    padding: 16px;
    background: $primary_white_bg;
    font-size: 16px;
    font-weight: 400;
    color: $primary_dark;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}
p {
    line-height: 20px;
}
// COMMON LAYOUT
.common_layout_style {
    height: calc(100vh - 32px);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 16px;
    background: $primary_white;
}
.common_page_wrapper {
    width: 100%;
    min-height: 100vh;
}
.commom_card_style {
    overflow: hidden;
    border-radius: 30px;
    background: $fifth_white;
    border: 1px solid $ninth_gray;
}
// HOME PAGE
.common_home_section_style {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.common_home_section_title {
    margin-bottom: 36px;
    font-size: 26px;
    font-weight: 500;
    color: #111111;
}
.tech_stack_card_container {
    position: relative;
    width: 100%;
    max-width: 646px;
    height: 330px;
    padding: 22px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.tech_stack_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.tech_stack_title {
    font-size: 24px;
    font-weight: 500;
    color: $primary_dark;
}
.tech_stack_subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $third_gray;
}
// ABOUT ME PAGE
.common_bento_card_style {
    padding: 8px;
}
// DARK BG BLUR
._glass_effect {
    background: $dark_35;
    backdrop-filter: blur(5px);
}
// MODAL WINDOW
.commnon_modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding: 0 16px;
    background: $dark_50;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_modal_style {
    overflow: hidden;
    border-radius: 30px;
    background: $primary_white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.modal_header {
    width: 100%;
    padding: 16px;
    background: $primary_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.modal_header_title {
    font-size: 22px;
    font-weight: 500;
    color: $primary_dark;
}
