@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $seventh_gray;

    &:hover {
        background: $eighth_gray;
    }
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: $primary_dark;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}
p {
    line-height: 20px;
}
//
.common_layout_style {
    height: calc(100vh - 32px);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 16px;
    background: $primary_white;
}
.common_page_wrapper {
    width: 100%;
    min-height: 100vh;
}
.commom_card_style {
    overflow: hidden;
    border-radius: 30px;
    background: $fourth_gray;
}
.common_home_section_style {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.common_home_section_title {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    color: #111111;
}
.tech_stack_card_container {
    position: relative;
    width: 100%;
    max-width: 514px;
    height: 348px;
    padding: 22px;
    overflow: hidden;
    box-shadow: 0 0 24px $dark_25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.common_bento_card_style {
    padding: 8px;
    overflow: hidden;
    border-radius: 30px;
    background: $fourth_gray;
}
//
._glass_effect {
    background: $dark_35;
    backdrop-filter: blur(5px);
}
//
.commnon_modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding: 0 16px;
    background: $dark_50;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_modal_style {
    overflow: hidden;
    border-radius: 30px;
    background: $primary_white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.modal_header {
    width: 100%;
    padding: 16px;
    background: $primary_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.modal_header_title {
    font-size: 22px;
    font-weight: 500;
    color: $primary_dark;
}
