@media (max-width: 1280px) {
    // COMMON & LAYOUT
    .common_layout_style,
    .scrolled_content {
        height: 100dvh;
    }
    .footer_right_side_content {
        gap: 50px;
    }
    // HOME PAGE
    .home_page_wrapper {
        padding: 24px 24px 0 24px !important;
    }
    .bio_text {
        display: none;
    }
    .bio_text_mob {
        display: flex;
        font-size: 32px;
        line-height: normal;
    }
}
@media (max-width: 1024px) {
    // COMMON & LAYOUT
    body {
        padding: 0;
    }
    .main_content_container {
        border-radius: 0;
    }
    .scrolled_content {
        margin-top: 60px;
    }
    .side_bar_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px !important;
        height: 100dvh;
        z-index: 1000;
        border-radius: 0 16px 16px 0;
    }
    header {
        display: flex;
    }
    .blur_mask_wrapper {
        display: none;
    }
    footer {
        padding: 36px 64px;
    }
    .top_btn {
        right: 16px;
    }
    // HOME PAGE
    .common_home_section_title {
        margin-bottom: 30px;
        font-size: 24px;
    }
    .my_apporoach_title,
    .tech_stack_title {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    // COMMON & LAYOUT
    footer {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .footer_left_side_content {
        height: auto;
        gap: 6px;
    }
    // HOME PAGE
    .home_page_wrapper {
        padding: 16px 16px 0 16px !important;
    }
    .tech_stack_section {
        padding-top: 0;
    }
    .tech_stack_card_wrapper {
        gap: 50px;
    }
    // GALLERY PAGE
    .masonry_container {
        column-count: 3 !important;
    }
}
@media (max-width: 480px) {
    // COMMON & LAYOUT
    footer {
        padding: 36px 16px;
    }
    .footer_right_side_content {
        flex-direction: column;
    }
    .footer_nav_links_container,
    .footer_social_links_container {
        gap: 8px;
    }
    .footer_title {
        margin: 0;
    }
    .footer_title,
    .copyright_text,
    .footer_link {
        font-size: 16px;
    }
    // HOME PAGE
    .bio_text_mob {
        font-size: 26px;
    }
    .my_apporoach_card {
        width: 100%;
        height: auto;
    }
    // GALLERY PAGE
    .masonry_container {
        column-count: 2 !important;
    }
}
