@media (max-width: 1024px) {
    body {
        padding: 0;
    }

    .common_layout_style {
        height: 100vh;
        border-radius: 0;
    }

    .side_bar_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px !important;
        height: 100dvh;
        z-index: 1000;
        border-radius: 0 16px 16px 0;
    }

    header {
        display: flex;
    }

    .blur_mask_wrapper {
        width: 100%;
    }
}
