// Modal Transition
.show-modal-enter-active,
.show-modal-leave-active {
    transition: all 0.2s ease-in-out;
}
.show-modal-enter-from,
.show-modal-leave-to {
    opacity: 0;
}
.show-modal-enter-to,
.show-modal-leave-from {
    opacity: 1;
}
// Arrow Transition
.show-arrow-btn-enter-active,
.show-arrow-btn-leave-active {
    transition: 0.2s;
}
.show-arrow-btn-enter-from,
.show-arrow-btn-leave-to {
    opacity: 0;
}
.show-arrow-btn-enter-to,
.show-arrow-btn-from {
    opacity: 1;
}
// Figma Cursor Text Transition
.fade-scale-enter-active,
.fade-scale-leave-active {
    transition: 0.2s;
}
.fade-scale-enter-from,
.fade-scale-leave-to {
    opacity: 0;
}
.fade-scale-enter-to,
.fade-scale-leave-from {
    opacity: 1;
}
// Slidebar Transition
.slide-sidebar-enter-from {
    transform: translateX(-100%);
}
.slide-sidebar-enter-active,
.slide-sidebar-leave-active {
    transition: transform 0.3s ease;
}
.slide-sidebar-leave-to {
    transform: translateX(-100%);
}
