:root {
    --primary-white-bg: #f0edf3;
    --primary-dark-bg: #050505;
}

[data-theme="dark"] {
    --primary-white-bg: #050505;
    --primary-dark-bg: #f0edf3;
}

// === PRIMARY PALETTE ===
$primary_white: #ffffff;
$primary_dark: #111111;
$primary_gray: #281414;
$primary_blue: #2976ff;
$primary_green: #12b76a;

// === SECONDARY PALETTE ===
$secondary_white: #f5f5f5;
$secondary_dark: #2e2e2e;
$secondary_gray: #989898;
$secondary_green: #039855;

// === THIRD PALETTE ===
$third_white: #e7e7e7;
$third_dark: #1f1f1f;
$third_gray: #747474;
$third_blue: #0078d4;

// === FOURTH PALETTE ===
$fourth_white: #f0edf3;
$fourth_dark: #181818;
$fourth_gray: #f0f0f0;
$fourth_blue: #679bff;

// === FIFTH & SIXTH & SEVENTH & EIGHTH PALETTE ===
$fifth_dark: #706f6c;
$fifth_gray: #454545;

$sixth_gray: #303131;

$seventh_gray: #c8c8c8;

$eighth_gray: #959595;

// ===  RGBA COLOR ===
$dark_50: rgba(0, 0, 0, 0.5);
$dark_35: rgba(0, 0, 0, 0.35);
$dark_25: rgba(0, 0, 0, 0.25);
$blue_20: rgba(41, 118, 255, 0.2);
$green_70: rgba(16, 185, 129, 0.7);
