$primary_white: #ffffff;
$primary_black: #000000;
$primary_gray: #7a7a7a;
$primary_bg: #080808;
$primary_red: #ff4141;
$secondary_gray: #999999;
$secondary_bg: #1c1c1e;
$secondary_red: #ff2d55;
$third_gray: #949494;
$third_bg: #2f2f2f;
$mac_close_btn: #ED6A5E;
$mac_minimize_btn: #F5BD50;
$max_fullscreen_btn: #61C454;
$button_default: rgba(195, 195, 195, 0.1);
$button_hover: rgba(195, 195, 195, 0.15);
$button_active: rgba(195, 195, 195, 0.2);
$card_border: #4a4a4a1f;
$menu_bar_bg: #2f2f2f;
$title_bar_bg: #242425;
$toolbar_hover_bg: #303031;
$content_bg: rgba(82, 82, 82, 0.4);
$text_header: #bfbfbf;
$header_bg: rgba(53, 53, 53, 0.5);
$header_button_bg: rgba(188, 188, 188, 0.15);
$project_card_container_bg: rgba(46, 46, 46, 0.1);
$line_number: #808080;
$comment_code: #6A9955;
$pink_code_text: #C586C0;
$yellow_code_text: #FFD700;
$letter_W: #F7DF1E;
$letter_e: #3DD68C;
$letter_b: #0070c0;
$slider_dot_bg: rgba(255, 255, 255, 0.35);
