:root {
    --primary-white-bg: #f0edf3;
    --primary-dark-bg: #050505;
}

[data-theme="dark"] {
    --primary-white-bg: #050505;
    --primary-dark-bg: #f0edf3;
}

$primary_white: #ffffff;
$primary_dark: #111111;
$primary_gray: #281414;
$primary_blue: #2059f5;
$primary_translucent_dark: rgba(82, 82, 82, 0.5);

$secondary_white: #f5f5f5;
$secondary_dark: #2e2e2e;
$secondary_gray: #989898;
$secondary_blue: rgba(41, 118, 255, 0.2);
$secondary_translucent_dark: rgba(0, 0, 0, 0.25);

$third_white: #e7e7e7;
$third_dark: #1f1f1f;
$third_gray: #747474;
$third_blue: #0078d4;

$fourth_white: #f0edf3;
$fourth_dark: #181818;
$fourth_gray: #f0f0f0;

$fifth_gray: #454545;

$sixth_gray: #303131;
