@import "tailwindcss";
@import "@/styles/colors.css";

@theme inline {
    --color-primary-white: var(--primary-white);
    --color-primary-dark: var(--primary-dark);
    --color-primary-gray: var(--primary-gray);
    --color-primary-blue: var(--primary-blue);
    --color-primary-green: var(--primary-green);
    --color-primary-purple: var(--primary-purple);

    /* === SECONDARY PALETTE === */
    --color-secondary-white: var(--secondary-white);
    --color-secondary-dark: var(--secondary-dark);
    --color-secondary-gray: var(--secondary-gray);
    --color-secondary-blue: var(--secondary-blue);
    --color-secondary-green: var(--secondary-green);

    /* === THIRD PALETTE === */
    --color-third-white: var(--third-white);
    --color-third-dark: var(--third-dark);
    --color-third-gray: var(--third-gray);
    --color-third-blue: var(--third-blue);
    --color-third-green: var(--third-green);

    /* === FOURTH PALETTE === */
    --color-fourth-white: var(--fourth-white);
    --color-fourth-dark: var(--fourth-dark);
    --color-fourth-gray: var(--fourth-gray);
    --color-fourth-blue: var(--fourth-blue);

    /* === FIFTH & SIXTH & SEVENTH & EIGHTH PALETTE === */
    --color-fifth-white: var(--fifth-white);
    --color-fifth-dark: var(--fifth-dark);
    --color-fifth-gray: var(--fifth-gray);

    --color-sixth-dark: var(--sixth-dark);
    --color-sixth-gray: var(--sixth-gray);

    --color-seventh-gray: var(--seventh-gray);

    --color-eighth-gray: var(--eighth-gray);

    /* ===  RGBA COLOR === */
    --color-white-50: var(--white-50);
    --color-black-10: var(--black-10);
    --color-black-25: var(--black-25);
    --color-gray-35: var(--gray-35);
    --color-black-50: var(--black-50);
    --color-gray-10: var(--gray-10);
    --color-blue-20: var(--blue-20);
    --color-green-20: var(--green-20);
    --color-green-70: var(--green-70);
    --color-purple-15: var(--purple-15);

    /* === LIGHT COLOR === */
    --color-light-gray: var(--light-gray);
    --color-light-blue: var(--light-blue);
    --color-light-green: var(--light-green);
    --color-light-purple: var(--light-purple);

    /* === SYNTAX COLOR === */
    --color-syntax-keyword-export: var(--syntax-keyword-export);
    --color-syntax-keyword-const: var(--syntax-keyword-const);
    --color-syntax-variable: var(--syntax-variable);
    --color-syntax-property: var(--syntax-property);
    --color-syntax-literal: var(--syntax-literal);
    --color-syntax-punctuation: var(--syntax-punctuation);
    --color-syntax-brace: var(--syntax-brace);
}
